<nav class="main-menu__container">
	<div class="main-menu__content global-content-wrapper">
		<a href="#" class="main-menu__logo-link">
			<img class="main-menu__logo-img" src="./img/logo.png" alt=""/>
		</a>
		<ul class="main-menu__ul">
			<li class="main-menu__li">
				<a class="main-menu__a" href="#" title="">Home</a>
			</li>
			<li class="main-menu__li">
				<a class="main-menu__a" href="#" title="">Shipments</a>
			</li>
			<li class="main-menu__li">
				<a class="main-menu__a" href="#" title="">Bids</a>
			</li>
			<li class="main-menu__li">
				<a class="main-menu__a" href="#" title="">Personal Tariffs</a>
			</li>
			<li class="main-menu__li">
				<a class="main-menu__a" href="#" title="">Organisations</a>
			</li>
		</ul>

		<div class="main-menu__user-container">
			<a href="#" title="" class="main-menu__user-notify-link">
				<span class="main-menu__user-notify-text">4</span>
			</a>
			<span class="main-menu__user-name">
				welcome <b>shlomi</b>
			</span>
		</div>
	</div>
</nav>