<div class="tabs-selection__container">
	<a class="tabs-selection__item tabs-selection__item__selected" href="#" title="">
		Bidding and quotes
	</a>
	<a class="tabs-selection__item" href="#" title="">
		Shipment
	</a>
	<a class="tabs-selection__item" href="#" title="">
		Messages
	</a>
	<a class="tabs-selection__item" href="#" title="">
		History Log
	</a>
</div>