<div class="bidding-quote__item">
	<div class="bidding-quote__item__logo-container">
		<img class="bidding-quote__item__logo-img" src="{{logoImage}}" alt=""/>
		<span class="bidding-quote__item__logo-name">{{logoName}}</span>
	</div>
	<div class="bidding-quote__item__price-container">
		<div class="bidding-quote__item__price-line">
			<span class="bidding-quote__item__price-number">£2,400</span>
		</div>
		<div class="bidding-quote__item__price-line">
			<span class="bidding-quote__item__price-original-label">First Quote</span>
			<span class="bidding-quote__item__price-original-number">£2,700</span>
		</div>
		<div class="bidding-quote__item__price-line">
			<a href="#" class="bidding-quote__item__price-bid">Accept Bid</a>
		</div>
		<div class="bidding-quote__item__price-line">
			<a href="#" class="bidding-quote__item__price-improve">Improve Bid</a>
		</div>
	</div>
	<div class="bidding-quote__item__information-container">
		<div class="bidding-quote__item__information-user">
			<span class="bidding-quote__item__user-name">Bid given by Bruno on 1/7/15 15:23</span>
			<span class="bidding-quote__item__user-separate">|</span>
			<span class="bidding-quote__item__user-date">Valid until 8/7/15</span>
		</div>
		<div class="bidding-quote__item__information-attach">
			<span class="bidding-quote__item__information-attach-text">All in rate with attached breakdown</span>
			<a href="#" title="" class="bidding-quote__item__information-attach-link">see breakdown</a>
		</div>
		<div class="bidding-quote__item__information-reference">
			<a href="#" title="" class="bidding-quote__item__information-reference-item">Profile</a>
			<a href="#" title="" class="bidding-quote__item__information-reference-item">Message</a>
		</div>
	</div>
	<div class="bidding-quote__item-border-middle">&nbsp;</div>
	<div class="bidding-quote__item-border-bottom">&nbsp;</div>
</div>