
<div class="shipment-progress__group-container">
	<div class="shipment-progress__title-content global-content-wrapper">
		<img class="shipment-progress__title-image" src="./img/icon-earth-plane.png" alt=""/>
		<h1 class="shipment-progress__title-text">
			PO 232544- Shipment in progress
		</h1>
	</div>
</div>
<div class="shipment-progress__group-container">
	<div class="shipment-progress__detail-content global-content-wrapper">
		<div class="shipment-progress__detail-content__right">
			<div class="shipment-progress__information-common">
				<span class="shipment-progress__information-title">Air</span>
				<span class="shipment-progress__information-separate">|</span>
				<span class="shipment-progress__information-title">3-5 days</span>
				<span class="shipment-progress__information-separate">|</span>
				<span class="shipment-progress__information-title">Door to Door</span>
			</div>
			<div class="shipment-progress__information-detail">
				<span class="shipment-progress__information-title">Weight:</span>
				<span class="shipment-progress__information-value">1,750 kg  /  8.5 CBM</span>
			</div>
			<p class="shipment-progress__information-description">
				General Cargo
			</p>
		</div>

		<div class="shipment-progress__detail-content__left">
			<div class="shipment-progress__status-container">
				<div class="shipment-progress__status-item">
					<span class="shipment-progress__status-label">
						From:
					</span>
					<span class="shipment-progress__status-address">
						Ching Guangzho, China, 123 Shandow
					</span>
					<span class="shipment-progress__status-separate">|</span>
					<span class="shipment-progress__status-time shipment-progress__status-time__night">11:32</span>
				</div>
				<div class="shipment-progress__status-item">
					<span class="shipment-progress__status-label">
						To:
					</span>
					<span class="shipment-progress__status-address">
						Medisafe UK, Bishop Stratford 
					</span>
					<span class="shipment-progress__status-separate">|</span>
					<span class="shipment-progress__status-time shipment-progress__status-time__day">12:42</span>
				</div>
			</div>
			<div class="shipment-progress__status-description">
				Comments: This space is for a coomment up to 10 words This space is for a coomment, e is for a coomment up to 10 words This space is for a coomment ace is for a coomment up to 10 words This space i
				<a href="#" title="" class="shipment-progress__status-button-less">see less</a>
			</div>
		</div>
	</div>
</div>